DATABASE_URL=postgresql://postgres:root@localhost:5432/blog
PORT=5000
JWT_SECRET=5cb81a8d5563b0b5b9e2f2ffd2b26c19889aa0362c40378ad5145612abc6009d

#AWS
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566 # only for local AWS emulators

S3_BUCKET=blog-storage